/* 
    Created on : Apr 7, 2016, 3:52:28 PM
    Author     : Matheus Victor <hffmatheus@gmail.com>
*/

html, body {
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#header {
    width: 100%;
    /*background-color: black;*/
}

#header a {
    /*background-color: black;*/
    position: absolute; top: 0; left: 0; border: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 100px;
}

#col-update, #col-save {
    border-bottom: gray solid;
    margin: 50px;
    padding: 0px;
    width: 30%;
}

#footer {
    padding: 5px 0px 5px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: darkgreen;
    width: 100%;
    height: auto;
    color: white;
}

.button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 150px;
    height: 25px;
    background-color:#01ab39;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color: white;
    /*font-family:Arial;*/
    font-size:15px;
    padding: 5px 0px 0px 0px;
    text-decoration:none;
}

.button:hover {
    background-color:#5cbf2a;
}

.button:active {
    position:relative;
    top:1px;
}

hr {
    margin-bottom: 60px; 
    width: 80%
}

#footer a {
    margin-left: 20px;
    color: white;
    text-decoration: underline;
}

#footer a:hover {
    color: gray;
}

#opt {
    width: 200px;
    height: 40px;
}

#opt label {
    float: left;
}

#opt input {
    float: right;
}