/* 
    Created on : Apr 7, 2016, 3:52:28 PM
    Author     : Matheus Victor <hffmatheus@gmail.com>
*/

@font-face {
    font-family: 'Gentium Basic';
    font-style: normal;
    font-weight: 400;
    src: local('Gentium Basic'), local('GentiumBasic'), url(GentiumBasic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*font-size: 100%;*/
    vertical-align: baseline;
    background: transparent;
}

#header {
    padding-top: 30px;
}

#git {
    position: fixed; 
    top: 0; 
    left: 0; 
    border: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
    /*padding: 20px;*/
}

#content {
    /*margin-top: 30px;*/
    /*padding-bottom: 50px;*/
}

#col-update, #col-save {
    border-bottom: green 0.5px double;
    margin: 50px;
    padding: 0px;
    width: 30%;
}

#footer {
    padding: 5px 0px 5px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: darkgreen;
    width: 100%;
    height: auto;
    color: white;
}

.button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 130px;
    height: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius :5px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 0px 6px 0px;
    text-decoration:none;
}

.button_cancel {
    border: 1px solid #18ab29;
    background-color: #01ab39;
}

.button_save {
    border:1px solid #18ab29;
    background-color:#01ab39;
}

.button:hover {
    background-color:#5cbf2a;
}

.button:active {
    position:relative;
    top:1px;
}

hr {
    margin-bottom: 20px;
    border: green 0.1px solid;
    width: 70%
}

#footer a {
    margin-left: 20px;
    color: white;
    text-decoration: underline;
}

#footer a:hover {
    color: gray;
}

#opt {
    width: 500px;
    height: auto;
}

#opt label {
    float: left;
}

#opt input {
    float: right;
}

.input-group {
    width: 400px;
    height: 30px;
}

@media(max-width: 768px ) {
    .input-group {
        width: 300px;
        height: 30px;
    }
}

.input-group label {
    float: left;
    font-weight: bold;
}

.input-group input {
    float: right;
    width: 60%;
    border-radius: 4px;
}

.input-control {
}

#msg {
    margin-bottom: 10px;
    /*width: 200px;*/
    margin-right: 20%;
    margin-left: 20%;
    padding: 10px;
    border-radius: 15px;
}

#msg.error {
    background-color: #ff9999;
}

#msg.success {
    background-color: #47d147;
}